# Dependencies & Builds
node_modules
dist
build

# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
# Antigravity / IDE
.system_generated/

